# Prerequisites
*.d
.idea

# Compiled Object files
*.slo
*.lo
*.o
cmake-build-debug/*.obj
build/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/
build/
/external
